:root {
    --alert-background-color: #F44336;
    --dark-background-color: #1e2327;
    --dark-text-color : #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background: var(--dark-background-color);
    color: var(--dark-text-color);
    text-align: center;
    padding: 1%;
}

/*-- Alert --*/
.alert {
    background: var(--alert-background-color);
    cursor: pointer;
}

.alert-title {
    font-size: 150%;
    color: var(--dark-text-color);
}

.alert-description {
    color: var(--dark-text-color);
}

button.alert-close {
    background: none;
    border: none;
    position: relative;
    top: 0px;
    right: 0px;
}

/*-- Map --*/
#map { height: 500px; }


/*-- Save-Form --*/
.save {
    display: flex;
    justify-content: space-around;
    background: var(--dark-background-color);
    padding: 1%;
    color: var(--dark-text-color);
}

.save > input, .save > h2, .save > button {
    flex: 1;
    color: var(--dark-text-color);
}

/*-- Inputs --*/
input {
    font-size: 150%;
    background: var(--dark-background-color);
    border: none;
    border-bottom: var(--dark-text-color) 2px solid;
    outline-color: var(--dark-text-color);
}

button {
    background: var(--dark-background-color);
    font-size: 150%;
    border: 2px solid var(--dark-text-color);
    cursor: pointer;
}

.save button::after {
    content: "+";
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
}

.bottom-navigation-list {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}