.panel {
    @include dark-background;
    position: fixed;
    top: 0;
    z-index: $panels-z-index;
    height: 100%;
    width: 20%;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#save-panel {
    left: 0;

    input, button {
        @include dark-background;
        padding: 20px;
        margin: 20px;
        border: $dark-background-color 2px solid;
        border-bottom: $dark-text-color 2px solid;

        font-size: 150%;

        #save {
            content: "+";
        }
    }

    button:hover {
        cursor: pointer;
        background-color: $dark-background-hover;
        border: $dark-text-color 2px solid;
    }
}

#locations-panel {
    right: 0;

    .locations-list-item {
        cursor: pointer;
    }
}
