// Application variables
$alert-background-color: #F44336;
$dark-background-color: #1e2327;
$dark-background-hover: #3f4347;
$dark-text-color: #FFFFFF;

$header-footer-z-index: 2;
$panels-z-index: 1;
$map-z-index: 0; 
