@import 'variables';
@import 'mixins';

body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    @include dark-background;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 0.5%;
    z-index: 500;
    width: 100%;

    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: row;
}

.download-upload {
    display: flex;

    .download-upload-item {
        border: none;
        padding: 10%;

        .download-upload-item-span {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
    }
}

footer {
    @include dark-background;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 0.5%;
    z-index: 500;
    width: 100%;
    
    div {
        cursor: pointer;
    }
}



/*-- Map --*/
html, body, #map { 
    height: 100%;
    width: 100%;
}

/*-- Save-Form --*/
#save-panel {
    @include dark-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#locations-panel {
    @include dark-background;
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    z-index: 500;
    display: flex;
}

.locations-list-item {
    cursor: pointer;
}

.save > input, .save > h2, .save > button {
    color: $dark-text-color;
}

/*-- Inputs --*/
input {
    @include dark-background;
    font-size: 150%;
    border: none;
    border-bottom: $dark-text-color 2px solid;
    outline-color: $dark-text-color;
}

button {
    @include dark-background;
    font-size: 150%;
    border: 2px solid $dark-text-color;
    cursor: pointer;
    color: $dark-text-color;
}

.save button::after {
    content: "+";
}
