@import 'variables';
@import 'mixins';

@import 'leaflet';
@import 'header';

body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    @include dark-background;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 0.5%;
    z-index: $header-footer-z-index;
    width: 100%;
    
    div {
        cursor: pointer;
    }
}



/*-- Map --*/
html, body, #map { 
    height: 100%;
    width: 100%;
}

.panel {
    @include dark-background;
    position: fixed;
    top: 0;
    z-index: $panels-z-index;
}

/*-- Save-Form --*/
#save-panel {
    left: 0;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



#locations-panel {
    right: 0;
    width: 33%;
    height: 100%;
    display: flex;
}

.locations-list-item {
    cursor: pointer;
}

.save > input, .save > h2, .save > button {
    color: $dark-text-color;
}

/*-- Inputs --*/
input {
    @include dark-background;
    font-size: 150%;
    border: none;
    border-bottom: $dark-text-color 2px solid;
    outline-color: $dark-text-color;
}

button {
    @include dark-background;
    font-size: 150%;
    border: 2px solid $dark-text-color;
    cursor: pointer;
    color: $dark-text-color;
}

.save button::after {
    content: "+";
}
